input[type=text] {
    width: 40%;
    height: 2em;
    box-shadow: 1px 3px 2px #d8d8d8;
    font-size: 22px;
    padding: 0px 10px;
    border: 1px solid #d8d8d8;
    margin: 25px 0px;
}

input[type=submit] {
    font: normal normal 700 13px arial;
    color: #777;
    background-color: #F4F4F4;
    padding: 14px 17px;
    border: none;
    margin: 5px;
}
li {
    display: inline-block;
    font: normal normal 400 13px arial;
    color: #333;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    vertical-align: middle;
    margin: 0px 9px;
    position: relative;
}
.header {
    margin: 15px 10px 0px 10px;
}
a {
    font: normal normal 400 13px arial;
    line-height: 30px;
    height: 30px;
    text-decoration: none;
    color: #333;
}
footer {
    background-color: #f4f4f4;
    vertical-align: bottom;
    border: 1px 0px solid #555;
}

#firstfooter {
    width: 100%;
    font: normal normal 400 15px arial;
}
.floatleft {
    float: left;
}
.floatright {
    float: right;
}

#searcharea {
    padding-top: 270px;
}
.lightertext {
    color: #777;
    line-height: 40px;
    vertical-align: middle;
}